.ORBIS\.ColorfulOptionsetGrid  .container{
    width: 100%;
    position: relative;
    min-height: 200px ;  
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;      
}

.ORBIS\.ColorfulOptionsetGrid  .gridContainer{
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}


.ORBIS\.ColorfulOptionsetGrid  .ColorfulCell{
    overflow: hidden;
    padding-top: 3px;
    padding-left: 4px;
    padding-bottom: 3px;
    padding-right: 4px;
    height:20px;   
 /*   display: inline;*/
    font-family: 'SegoeUI', 'Segoe UI';
   /* font-size: medium;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;    */
}

.ORBIS\.ColorfulOptionsetGrid  .ColorfulCellItem{
    overflow: hidden;
    padding-top: 3px;
    padding-left: 4px;
    padding-bottom: 3px;
    padding-right: 4px;
    height:20px;
    margin-left: 4px;
    margin-top: 2px; 
    font-family: 'SegoeUI', 'Segoe UI';
}

.ORBIS\.ColorfulOptionsetGrid .ColorfulCell_MultiSelectOptionSet{
    display: flex;
    flex-wrap: wrap;
}
 
.ORBIS\.ColorfulOptionsetGrid  .Footer{
    height: 32px;
    width: 100%;    
    padding-top: 3px;
    margin-left: 10px;   
    color: "#333";
    font-size: 11px;
    border-top: 1px solid #edebe9;    
}

.ORBIS\.ColorfulOptionsetGrid  .Footer span,
.ORBIS\.ColorfulOptionsetGrid  .Footer div{
    font-size: 12px;
    font-weight: 400;
    color: rgb(50, 49, 48);    
}

.ORBIS\.ColorfulOptionsetGrid  .FooterRight{
   text-align: right; 
   margin-right:10px;
}

.ORBIS\.ColorfulOptionsetGrid  .FooterIcon{
    background-color: transparent;
}
.ORBIS\.ColorfulOptionsetGrid  .FooterIcon i{
    font-size: 12px;
}
.ORBIS\.ColorfulOptionsetGrid  .FooterIcon span{    
    color: #0078D4;
    
}
.ORBIS\.ColorfulOptionsetGrid  .FooterIcon span:disabled{
    color: gray;
    
}

.ORBIS\.ColorfulOptionsetGrid  .ArrowRight{    
    transform: rotate(180deg);
}


.ORBIS\.ColorfulOptionsetGrid  .colorIcon{      
        font-weight: 600;
        vertical-align: baseline;     
}

.ORBIS\.ColorfulOptionsetGrid  div{
    font-weight: normal;
    font-size: 14px;
    vertical-align: baseline;
}

.ORBIS\.ColorfulOptionsetGrid  .ColorfulCell span{
    font-weight: normal;
    font-size: 15px;
    vertical-align: baseline;
   text-overflow: ellipsis;
}

.ORBIS\.ColorfulOptionsetGrid .actionBar{
    width: 100%;
    text-align: right;
    font-size: 20px;
   
}