.ORBIS\.ColorfulOptionsetGrid  .container{
    width: 100%;
    position: relative;
    min-height: 500px ;  
}

.ORBIS\.ColorfulOptionsetGrid  .gridContainer{
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}


.ORBIS\.ColorfulOptionsetGrid  .ColorfulCell{
    overflow: hidden;
    padding-top: 3px;
    padding-left: 4px;
    padding-bottom: 3px;
 /*   display: inline;*/
    font-family: 'SegoeUI', 'Segoe UI';
   /* font-size: medium;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;    */
}
 
.ORBIS\.ColorfulOptionsetGrid  .Footer{
    height: 32px;
    width: 100%;    
    padding-top: 3px;
    margin-left: 10px;   
    color: "#333";
    font-size: 11px;
    border-top: 1px solid #edebe9;    
}

.ORBIS\.ColorfulOptionsetGrid  .FooterRight{
   text-align: right; 
   margin-right:10px;
}

.ORBIS\.ColorfulOptionsetGrid  .FooterIcon i{
    color: #333333;
    font-size: 11px;
}



.ORBIS\.ColorfulOptionsetGrid  .colorIcon{      
        font-weight: 600;
        vertical-align: baseline;     
}

.ORBIS\.ColorfulOptionsetGrid  div{
    font-weight: normal;
    font-size: 15px;
    vertical-align: baseline;
}

.ORBIS\.ColorfulOptionsetGrid  .ColorfulCell span{
    font-weight: normal;
    font-size: 15px;
    vertical-align: baseline;
   text-overflow: ellipsis;
}

